################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TDDExcerciseSession4/.vs/TDDExcerciseSession4
/TDDExcerciseSession4/TDDExcerciseSession4/obj
/TDDExcerciseSession4/TDDExcerciseSession4/bin/Debug/net8.0
